@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&display=swap');
@import './Utils/functions';
@import './Utils/mixins';
@import './Utils/variables';

/*Generales*/
*{
    font-family: 'Readex Pro', sans-serif;
}

h1, .navbar-brand{
    font-weight: 400;
}

.nav-link-300, p{
    font-weight: 300;
}

.active-nav{
    @include boton-amarillo;
}

.navbar{
    background-color: $color-02;
}

li a{
    color: black;
}

li a:hover, #cotiza-aqui-navbar{
    @include boton-amarillo;
}

#cotiza-aqui-navbar{
    font-weight: 400;
}

a.navbar-brand{
    color: black;
}

#cotiza-aqui-navbar{
    font-weight: 400;
}

div.dropdown-menu.show{
    background-color: $color-02;
}

a.dropdown-item{
    font-weight: 300;
}

a.dropdown-item:hover{
    background-color: #fcdc14;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 6px;
}

/*Página 1*/
#pagina1{
    background-color: $color-02;
    padding-top: 20px;
    padding-bottom: 30px;
}

.texto-pagina-1{
    padding-top: 50px;
}

.btn-cotiza-aqui, .btn-como-funcionamos{
    @include boton-plomo;
        &:hover{
            @include boton-amarillo;
            border: $color-02 1px solid;
        }
}

/*Nuestros numeros*/
#nuestros-numeros-1, .card-nuestros-numeros{
    background-color: #fcdc14;
}

#algunos-numeros{
    padding-top: 50px;
}

.card{
    border: #fcdc14 0px solid;
}

.btn-nn{
    @include boton-plomo;
    &:hover{
        @include boton-amarillo;
        border: $color-02 1px solid;
    }
}

div.card-deck{
    padding-bottom: 40px;
}

/*Como trabajamos*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background-color: #fcdc14;
}

#como-funcionamos-1{
    background-color: $color-02;
}

/*Formulario*/
.formulario-cotizar{
    background-color: $color-01;
    padding-top: 70px;
    padding-bottom: 70px;
}

.botonEnviar, .btn-cerrar{
    @include boton-plomo;
    &:hover{
        @include boton-amarillo;
        border: $color-02 1px solid;
    }
}

.modal-content{
    background-color: $color-02;
}

div.botonenviarcontainer{
    padding-left: 0px;
}

/*Footer*/
.footer{
    background-color: $color-03;
}
#footer{
    padding-top: 70px;
    padding-bottom: 50px;
}

a{
    color:#000;
}

.link-footer{
    font-weight: 300;
}

.link-footer:hover{
    background-color: $color-01;
    color: black;
    text-decoration: none;
}

.fa-instagram:hover{
    color: black;
}

.footer-columna1{
    padding-bottom: 20px;
}

/*Blog*/
#blog{
    background-color: $color-02;
}

div#blog-dentro{
    padding-top: 70px;
    padding-bottom: 0px;
}

.box{
    overflow: hidden;
    border-radius: 10px;
}

.card-blog{
    background-color: $color-02;
}

/*Ensayos*/
div#pagina1-ensayos{
    padding-top: 70px;
}

div#cuerpo-ensayos{
    background-color: $color-02;
    padding-bottom: 50px;
}