/*colores: #f2f3f4 plomo
#fcdc14 amarillo*/

*{
    font-family: Helvetica, sans-serif;
}

.navbar{
    background-color: #f2f3f4;
}

li a{
    color: black;
}

li a:hover, #cotiza-aqui-navbar{
    color: black;
    background-color: #fcdc14;
    border-radius: 4px;
}