/*colores: #f2f3f4 plomo
#fcdc14 amarillo*/

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&display=swap');

*{
    font-family: 'Readex Pro', sans-serif;
}

h1{
    font-weight: 400;
}

.nav-link-300, p{
    font-weight: 300;
}

/*Navbar brand*/
.navbar-brand{
    font-weight: 400;
}

.navbar{
    background-color: #f2f3f4;
}

li a{
    color: black;
}

li a:hover, #cotiza-aqui-navbar{
    color: black;
    background-color: #fcdc14;
    border-radius: 4px;
}

#cotiza-aqui-navbar{
    font-weight: 400;
}

a.navbar-brand{
    color: black;
}

#cotiza-aqui-navbar{
    font-weight: 400;
}

div.dropdown-menu.show{
    background-color: #f2f3f4;
}

a.dropdown-item{
    font-weight: 300;
}

a.dropdown-item:hover{
    background-color: #fcdc14;
}

/*Página 1*/


#pagina1{
    background-color: #f2f3f4;
    padding-top: 20px;
    padding-bottom: 30px;
}

.texto-pagina-1{
    padding-top: 50px;
}

.btn-cotiza-aqui, .btn-como-funcionamos{
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 4px;
}

.btn-cotiza-aqui:hover, .btn-como-funcionamos:hover{
    background-color: #fcdc14;
    border: none;
    border: #f2f3f4 1px solid;
}


/*Nuestros numeros*/
#nuestros-numeros-1, .card{
    background-color: #fcdc14;
}

#algunos-numeros{
    padding-top: 50px;
}

.card{
    border: #fcdc14 0px solid;
}

.btn-nn{
border: black 1px solid;
border-radius: 4px;
background-color: #f2f3f4;
}

.btn-nn:hover{background-color: #fcdc14;
    border: none;
    border: #f2f3f4 1px solid;
}

div.card-deck{
    padding-bottom: 40px;
}

/*Como trabajamos*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background-color: #fcdc14;
}

#como-funcionamos-1{
    background-color: #f2f3f4;
}

/*Formulario*/
.formulario-cotizar{
    background-color: #fcdc14;
    padding-top: 70px;
    padding-bottom: 70px;
}

.botonEnviar, .btn-cerrar{
    border: black 1px solid;
    border-radius: 4px;
    background-color: #f2f3f4;
}

.btn-cerrar:hover, .botonEnviar:hover{
    background-color: #fcdc14;
    border: none;
    border: #f2f3f4 1px solid;
}

.modal-content{
    background-color: #f2f3f4;
}

div.botonenviarcontainer{
    padding-left: 0px;
}



/*Footer*/

.footer{
    background-color: #f2f3f4;
}
#footer{
    padding-top: 70px;
    padding-bottom: 50px;
}

a{
    color:#000;
}

.link-footer{
    font-weight: 300;
}

.link-footer:hover{
    background-color: #fcdc14;
    color: black;
    text-decoration: none;
}

.fa-instagram:hover{
    color: black;
}